@use "../../variables.scss" as *;

.btn {
  background-color: $color-grey-2;
  padding: $spacing-xs $spacing-md;
  border: none;
  cursor: pointer;
  font-size: $font-size-md;
  transition: all 0.3s ease;
  border-radius: $border-radius-base;
}

.primary {
  background-color: $color-primary;
  color: $color-grey-1;

  &:hover {
    background-color: $color-primary-tint-1;
  }

  &:active {
    background-color: $color-primary-shade-1;
  }
}
