@use "../../variables.scss" as *;

.btn,
.btn:link,
.btn:visited {
  background-color: $color-grey-2;
  color: $color-grey-5;
  padding: $spacing-xs $spacing-md;
  border: none;
  cursor: pointer;
  font-size: $font-size-md;
  transition: all 0.3s ease;
  border-radius: $border-radius-base;
  text-decoration: none;
  text-align: center;
  font-weight: $font-weight-regular;

  &:disabled {
    background-color: $color-grey-3;
    color: $color-grey-4;
    cursor: not-allowed;

    &:hover,
    &:active {
      background-color: $color-grey-3 !important;
      color: $color-grey-4 !important;
    }
  }
}

.primary,
.primary:link,
.primary:visited {
  background-color: $color-primary;
  color: $color-grey-1;

  &:hover {
    background-color: $color-primary-tint-1;
    color: $color-grey-1 !important; // Include for the case when btn is a Link element
  }

  &:active {
    background-color: $color-primary-shade-1;
    color: $color-grey-1 !important; // Include for the case when btn is a Link element
  }
}

.transparent,
.transparent:link,
.transparent:visited {
  background-color: transparent;
  color: $color-grey-1;
}

.small,
.small:link,
.small:visited {
  font-size: $font-size-base;
  padding: $spacing-xs $spacing-sm;
  border-radius: $border-radius-lg;
  background-color: $color-grey-3;

  &:hover,
  &:active {
    background-color: $color-grey-4;
  }
}

.rounded,
.rounded:link,
.rounded:visited {
  font-size: $font-size-base;
  padding: $spacing-xs $spacing-sm;
  border-radius: 1000rem;
  background-color: $color-primary;
  color: $color-grey-1;

  &:hover,
  &:active {
    background-color: $color-primary-tint-1;
  }
}
