@use "../../../variables" as *;

.grid {
  display: grid;
  grid-template-columns: 1fr 10rem 10rem 10rem;
  gap: $spacing-xxl;
  padding: $spacing-md;
  align-items: center;
}

.Cart {
}

.itemProduct {
  display: flex;
  align-items: center;
  gap: $spacing-md;
  width: 100%;

  img {
    max-width: 20rem;
    border-radius: $border-radius-xl;
  }

  h3 {
    font-size: $font-size-base;
    color: $color-grey-4;
    font-weight: $font-weight-semibold;
  }
}

.tableHeader {
  font-weight: $font-weight-semibold;
  color: $color-grey-4;
  text-align: left;
}

.price {
  color: $color-primary;
  font-weight: $font-weight-semibold;
}

.totalPrice {
  font-size: $font-size-md;
  color: $color-warning;
  font-weight: $font-weight-semibold;
}
