.appLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100dvh;

  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
  main {
    flex: 1;
  }
}
