@use "../../variables" as *;

.faqsSection {
  max-width: 170rem;
  margin: 0 auto;
  padding: $spacing-xxxl 0;
}

.faqs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: $spacing-xl;
  padding: $spacing-xl $spacing-lg;
}

.faqsList {
  flex-basis: 50%;
}
.titleBox {
  flex-basis: 50%;
  max-width: 50rem;

  h2 {
    margin-bottom: $spacing-md;
  }

  p {
    line-height: 1.5;
    max-width: 50rem;
  }
}
